
<!-- navbar starts -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid px-4">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="../../../../assets/img/Astonic logo img.png" alt="Logo">
    </a>

    <!-- Shop by Category Dropdown (close to logo) -->
    <ul class="navbar-nav d-none d-lg-flex ms-3">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center text-white" href="#" id="shopDropdown"
           role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-list shop-icon me-2" style="color:#ffba00;"></i> Shop by Category
        </a>
        <ul class="dropdown-menu mt-2 shadow" aria-labelledby="shopDropdown">
          <li><a class="dropdown-item" href="#">Safety & PPE</a></li>
          <li><a class="dropdown-item" href="#">Power Hand Tools</a></li>
          <li><a class="dropdown-item" href="#">Sealant & Adhesives</a></li>
          <li><a class="dropdown-item" href="#">Safety & Traffic</a></li>
          <li><a class="dropdown-item" href="#">Workshop & Garage</a></li>
          <li><a class="dropdown-item" href="#">Electrical & Equipment</a></li>
          <li><a class="dropdown-item" href="#">Measuring & Testing</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Construction Equipment</a></li>
          <li><a class="dropdown-item" href="#">Farm Equipment</a></li>
          <li><a class="dropdown-item" href="#">Hand Tools & Accessories</a></li>
          <li><a class="dropdown-item" href="#">Cleaning & Garden Supplies</a></li>
        </ul>
      </li>
    </ul>

    <!-- Mobile Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav align-items-lg-center">
        <!-- Mobile version of dropdown -->
        <li class="nav-item dropdown d-lg-none">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="mobileShopDropdown"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-list shop-icon me-2" style="color:#ffba00;"></i> Shop by Category
          </a>
          <ul class="dropdown-menu mt-2 shadow" aria-labelledby="mobileShopDropdown">
            <li><a class="dropdown-item" href="#">Safety & PPE</a></li>
            <li><a class="dropdown-item" href="#">Power Hand Tools</a></li>
            <li><a class="dropdown-item" href="#">Sealant & Adhesives</a></li>
            <li><a class="dropdown-item" href="#">Safety & Traffic</a></li>
            <li><a class="dropdown-item" href="#">Workshop & Garage</a></li>
            <li><a class="dropdown-item" href="#">Electrical & Equipment</a></li>
            <li><a class="dropdown-item" href="#">Measuring & Testing</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Construction Equipment</a></li>
            <li><a class="dropdown-item" href="#">Farm Equipment</a></li>
            <li><a class="dropdown-item" href="#">Hand Tools & Accessories</a></li>
            <li><a class="dropdown-item" href="#">Cleaning & Garden Supplies</a></li>
          </ul>
        </li>

        <!-- Main Navigation Links -->
       	<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Shop</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="dropdown-item" href="/shopcategories">Shop Category</a></li>
									<li class="nav-item"><a class="dropdown-item" href="single-product.html">Product Details</a></li>
									<li class="nav-item"><a class="dropdown-item" href="checkout.html">Product Checkout</a></li>
									<li class="nav-item"><a class="dropdown-item" href="cart.html">Shopping Cart</a></li>
									<li class="nav-item"><a class="dropdown-item" href="confirmation.html">Confirmation</a></li>
								</ul>
							</li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
       <li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Pages</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="dropdown-item" href="/login">Login</a></li>
									<li class="nav-item"><a class="dropdown-item" href="/trackorder">Track Order</a></li>
									<li class="nav-item"><a class="dropdown-item" href="/deliverypolicy">Delivery Policy</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="/warrantyandreturns">Warranty & Returns</a></li>
								</ul>
							</li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar ends -->